In [60]:
## github minCien -->  n°81

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pylab
import scipy.stats as stats

In [62]:
rc = pd.read_csv('https://raw.githubusercontent.com/leoferres/gitiele356b/main/data/hdi.csv', na_values=['*'])

In [63]:
rc.head()

   comuna       LEI        II        EI    idh       HDI
0   13101  0.791672  0.873137  0.924099  0.807  0.861222
1   13102  0.782817  0.800343  0.713499  0.743  0.764616
2   13103  0.752447  0.750382  0.657961  0.683  0.718874
3   13104  0.784872  0.760697  0.705426  0.707  0.749584
4   13105  0.777236  0.780019  0.673876  0.711  0.742015

In [64]:
## HDI = indice desarrollo humano

In [65]:
rc = rc[["comuna","HDI"]]

In [66]:
rc.head()

   comuna       HDI
0   13101  0.861222
1   13102  0.764616
2   13103  0.718874
3   13104  0.749584
4   13105  0.742015

In [67]:
pob = pd.read_csv('https://raw.githubusercontent.com/leoferres/gitiele356b/main/data/pobXedadCenso.csv', na_values=['*'])

In [68]:
pob.head()

   COMUNA  EDAD_0A5  EDAD_6A14  EDAD_15A64  EDAD_65YMAS
0    1101       0.0        0.0        15.0          0.0
1    1101       NaN        NaN        54.0         10.0
2    1101       NaN        0.0        28.0          NaN
3    1101       NaN        7.0        49.0          NaN
4    1101       NaN        NaN        26.0          7.0

In [69]:
#como de los 0 a 15 años no se han vacunado, se quita columna

In [70]:
pob = pob[["COMUNA","EDAD_15A64", "EDAD_65YMAS"]]

In [71]:
pob.head()

   COMUNA  EDAD_15A64  EDAD_65YMAS
0    1101        15.0          0.0
1    1101        54.0         10.0
2    1101        28.0          NaN
3    1101        49.0          NaN
4    1101        26.0          7.0

In [72]:
pob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180499 entries, 0 to 180498
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   COMUNA       180499 non-null  int64
 1   EDAD_15A64   175439 non-null  float64
 2   EDAD_65YMAS  130173 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 4.1 MB

In [73]:
pob.COMUNA = pob.COMUNA.astype('object')

In [74]:
pob.columns=['Codigo comuna', 'pob15a64', 'pob65amas']

In [75]:
pob.head()

  Codigo comuna  pob15a64  pob65amas
0          1101      15.0        0.0
1          1101      54.0       10.0
2          1101      28.0        NaN
3          1101      49.0        NaN
4          1101      26.0        7.0

In [76]:
pob = pob.groupby(by="Codigo comuna").sum()

In [77]:
pob.head()

               pob15a64  pob65amas
Codigo comuna
1101           132629.0    16895.0
1107            72866.0     3908.0
1401             9446.0      864.0
1402              772.0      136.0
1403             1246.0      148.0

In [78]:
vac = pd.read_csv('https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto81/vacunacion_comuna_edad_1eraDosis.csv', na_values=['*'])

In [79]:
vac.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,12,13,14,15,16,...,71,72,73,74,75,76,77,78,79,80
0,Arica y Parinacota,15,Arica,15101.0,247552.0,221.0,214.0,229.0,283.0,1347.0,...,1405.0,1354.0,1333.0,1243.0,1177.0,1014.0,1083.0,913.0,761.0,5193.0
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,0.0,0.0,0.0,0.0,3.0,...,3.0,22.0,11.0,17.0,6.0,5.0,6.0,6.0,6.0,29.0
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,0.0,0.0,0.0,0.0,0.0,...,3.0,7.0,2.0,4.0,5.0,3.0,4.0,4.0,2.0,10.0
3,Arica y Parinacota,15,Putre,15201.0,2515.0,0.0,0.0,0.0,0.0,0.0,...,10.0,13.0,2.0,14.0,10.0,4.0,9.0,9.0,8.0,52.0
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
vac = vac[vac["Codigo region"] == 13]

In [81]:
vac.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,12,13,14,15,16,...,71,72,73,74,75,76,77,78,79,80
88,Metropolitana,13,Alhue,13502.0,7405.0,42.0,31.0,30.0,27.0,68.0,...,64.0,42.0,44.0,35.0,35.0,39.0,26.0,31.0,22.0,196.0
89,Metropolitana,13,Buin,13402.0,109641.0,115.0,124.0,125.0,112.0,913.0,...,613.0,550.0,493.0,443.0,425.0,421.0,375.0,359.0,305.0,2189.0
90,Metropolitana,13,Calera de Tango,13403.0,28525.0,46.0,41.0,53.0,54.0,300.0,...,197.0,190.0,145.0,149.0,132.0,145.0,125.0,108.0,73.0,718.0
91,Metropolitana,13,Cerrillos,13102.0,88956.0,62.0,68.0,63.0,72.0,528.0,...,460.0,478.0,500.0,512.0,385.0,430.0,391.0,380.0,394.0,2391.0
92,Metropolitana,13,Cerro Navia,13103.0,142465.0,231.0,242.0,251.0,297.0,841.0,...,825.0,792.0,749.0,693.0,735.0,638.0,594.0,566.0,500.0,3115.0

In [82]:
vac.loc[:,'vac15a64']= vac.iloc[:,5:54].sum(axis=1)

In [83]:
vac.loc[:,'vac65a80']= vac.iloc[:,55:71].sum(axis=1)

In [84]:
vac.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,12,13,14,15,16,...,73,74,75,76,77,78,79,80,vac15a64,vac65a80
88,Metropolitana,13,Alhue,13502.0,7405.0,42.0,31.0,30.0,27.0,68.0,...,44.0,35.0,35.0,39.0,26.0,31.0,22.0,196.0,4731.0,871.0
89,Metropolitana,13,Buin,13402.0,109641.0,115.0,124.0,125.0,112.0,913.0,...,493.0,443.0,425.0,421.0,375.0,359.0,305.0,2189.0,65972.0,10454.0
90,Metropolitana,13,Calera de Tango,13403.0,28525.0,46.0,41.0,53.0,54.0,300.0,...,145.0,149.0,132.0,145.0,125.0,108.0,73.0,718.0,17990.0,3536.0
91,Metropolitana,13,Cerrillos,13102.0,88956.0,62.0,68.0,63.0,72.0,528.0,...,500.0,512.0,385.0,430.0,391.0,380.0,394.0,2391.0,41131.0,8739.0
92,Metropolitana,13,Cerro Navia,13103.0,142465.0,231.0,242.0,251.0,297.0,841.0,...,749.0,693.0,735.0,638.0,594.0,566.0,500.0,3115.0,60775.0,13071.0

In [85]:
vc = vac[["Comuna","Codigo comuna", "Poblacion","vac15a64","vac65a80"]]

In [86]:
vc.head()

             Comuna  Codigo comuna  Poblacion  vac15a64  vac65a80
88            Alhue        13502.0     7405.0    4731.0     871.0
89             Buin        13402.0   109641.0   65972.0   10454.0
90  Calera de Tango        13403.0    28525.0   17990.0    3536.0
91        Cerrillos        13102.0    88956.0   41131.0    8739.0
92      Cerro Navia        13103.0   142465.0   60775.0   13071.0

In [87]:
pob.head()

               pob15a64  pob65amas
Codigo comuna
1101           132629.0    16895.0
1107            72866.0     3908.0
1401             9446.0      864.0
1402              772.0      136.0
1403             1246.0      148.0

In [88]:
rc.head()

   comuna       HDI
0   13101  0.861222
1   13102  0.764616
2   13103  0.718874
3   13104  0.749584
4   13105  0.742015

In [89]:
rc.columns = ['Codigo comuna','HDI']

In [90]:
vc1 = pd.merge(rc, vc ,how='right', on='Codigo comuna')

In [91]:
vc1.head()

   Codigo comuna       HDI           Comuna  Poblacion  vac15a64  vac65a80
0        13502.0  0.742609            Alhue     7405.0    4731.0     871.0
1        13402.0  0.766439             Buin   109641.0   65972.0   10454.0
2        13403.0  0.715509  Calera de Tango    28525.0   17990.0    3536.0
3        13102.0  0.764616        Cerrillos    88956.0   41131.0    8739.0
4        13103.0  0.718874      Cerro Navia   142465.0   60775.0   13071.0

In [92]:
vc2 = pd.merge(pob, vc1 ,how='right', on='Codigo comuna')

In [93]:
vc2.head()

,Codigo comuna,pob15a64,pob65amas,HDI,Comuna,Poblacion,vac15a64,vac65a80
0,13502.0,4472.0,600.0,0.742609,Alhue,7405.0,4731.0,871.0
1,13402.0,66360.0,7667.0,0.766439,Buin,109641.0,65972.0,10454.0
2,13403.0,17442.0,2072.0,0.715509,Calera de Tango,28525.0,17990.0,3536.0
3,13102.0,53650.0,9273.0,0.764616,Cerrillos,88956.0,41131.0,8739.0
4,13103.0,89915.0,16011.0,0.718874,Cerro Navia,142465.0,60775.0,13071.0

In [94]:
##los datos de poblacion no coinciden con el numero de vacunados, se procede a buscar otros datos de poblacion por edad

In [95]:
vac = vc2[["Codigo comuna", "Comuna", "Poblacion","HDI","vac15a64","vac65a80"]]

In [96]:
vac.head()

   Codigo comuna           Comuna  Poblacion       HDI  vac15a64  vac65a80
0        13502.0            Alhue     7405.0  0.742609    4731.0     871.0
1        13402.0             Buin   109641.0  0.766439   65972.0   10454.0
2        13403.0  Calera de Tango    28525.0  0.715509   17990.0    3536.0
3        13102.0        Cerrillos    88956.0  0.764616   41131.0    8739.0
4        13103.0      Cerro Navia   142465.0  0.718874   60775.0   13071.0

In [97]:
pob = pd.read_csv('https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto81/poblacion_comuna_edad.csv', na_values=['*'])

In [98]:
pob.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,12,13,14,15,16,...,71,72,73,74,75,76,77,78,79,80
0,Arica y Parinacota,15,Arica,15101.0,247552.0,3688.0,3538.0,3298.0,3385.0,3442.0,...,1587.0,1448.0,1394.0,1321.0,1241.0,1175.0,1094.0,982.0,880.0,6448.0
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,13.0,12.0,11.0,10.0,9.0,...,15.0,13.0,11.0,10.0,9.0,8.0,7.0,6.0,6.0,50.0
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,8.0,8.0,7.0,7.0,5.0,...,9.0,8.0,8.0,8.0,7.0,4.0,3.0,4.0,3.0,23.0
3,Arica y Parinacota,15,Putre,15201.0,2515.0,21.0,20.0,16.0,21.0,48.0,...,14.0,13.0,14.0,16.0,17.0,17.0,16.0,13.0,11.0,88.0
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
pob = pob[pob["Codigo region"] == 13]

In [100]:
pob.loc[:,'pob15a64']= pob.iloc[:,5:54].sum(axis=1)

In [101]:
pob.loc[:,'pob65a80']= pob.iloc[:,55:71].sum(axis=1)

In [102]:
pob.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,12,13,14,15,16,...,73,74,75,76,77,78,79,80,pob15a64,pob65a80
88,Metropolitana,13,Alhue,13502.0,7405.0,99.0,93.0,84.0,77.0,73.0,...,40.0,36.0,32.0,30.0,29.0,29.0,29.0,236.0,5134.0,864.0
89,Metropolitana,13,Buin,13402.0,109641.0,1593.0,1546.0,1479.0,1426.0,1419.0,...,502.0,461.0,414.0,381.0,348.0,323.0,296.0,2160.0,78401.0,10432.0
90,Metropolitana,13,Calera de Tango,13403.0,28525.0,428.0,416.0,394.0,376.0,372.0,...,141.0,128.0,110.0,97.0,87.0,82.0,76.0,607.0,20315.0,3032.0
91,Metropolitana,13,Cerrillos,13102.0,88956.0,1150.0,1128.0,1086.0,1044.0,1043.0,...,497.0,473.0,440.0,411.0,380.0,363.0,353.0,2538.0,61411.0,10047.0
92,Metropolitana,13,Cerro Navia,13103.0,142465.0,1839.0,1801.0,1751.0,1720.0,1733.0,...,963.0,901.0,827.0,756.0,683.0,626.0,565.0,3690.0,96515.0,18107.0

In [103]:
pob = pob[["Codigo comuna","pob15a64","pob65a80"]]

In [104]:
pob.head()

    Codigo comuna  pob15a64  pob65a80
88        13502.0    5134.0     864.0
89        13402.0   78401.0   10432.0
90        13403.0   20315.0    3032.0
91        13102.0   61411.0   10047.0
92        13103.0   96515.0   18107.0

In [105]:
vc = pd.merge(pob, vac ,how='right', on='Codigo comuna')

In [106]:
vc.head()

,Codigo comuna,pob15a64,pob65a80,Comuna,Poblacion,HDI,vac15a64,vac65a80
0,13502.0,5134.0,864.0,Alhue,7405.0,0.742609,4731.0,871.0
1,13402.0,78401.0,10432.0,Buin,109641.0,0.766439,65972.0,10454.0
2,13403.0,20315.0,3032.0,Calera de Tango,28525.0,0.715509,17990.0,3536.0
3,13102.0,61411.0,10047.0,Cerrillos,88956.0,0.764616,41131.0,8739.0
4,13103.0,96515.0,18107.0,Cerro Navia,142465.0,0.718874,60775.0,13071.0

In [107]:
vac = vc[["Codigo comuna", "Comuna", "Poblacion","pob15a64","pob65a80","HDI","vac15a64","vac65a80"]]

In [108]:
vac.head()

,Codigo comuna,Comuna,Poblacion,pob15a64,pob65a80,HDI,vac15a64,vac65a80
0,13502.0,Alhue,7405.0,5134.0,864.0,0.742609,4731.0,871.0
1,13402.0,Buin,109641.0,78401.0,10432.0,0.766439,65972.0,10454.0
2,13403.0,Calera de Tango,28525.0,20315.0,3032.0,0.715509,17990.0,3536.0
3,13102.0,Cerrillos,88956.0,61411.0,10047.0,0.764616,41131.0,8739.0
4,13103.0,Cerro Navia,142465.0,96515.0,18107.0,0.718874,60775.0,13071.0

In [109]:
##limpieza de datos lista, para los vacunados y la poblacion por edad se tomaron los mismos dos rangos de edad, de 15 a 64 y de 65 a 80.

In [110]:
vac['pob15a80']=vac['pob15a64']+vac['pob65a80']

<ipython-input-110-faf50b5d14cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vac['pob15a80']=vac['pob15a64']+vac['pob65a80']

In [111]:
vac['vac15a80']=vac['vac15a64']+vac['vac65a80']

<ipython-input-111-b25a171b63bc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vac['vac15a80']=vac['vac15a64']+vac['vac65a80']

In [112]:
vac['propvac15a80']=vac['vac15a80']/vac['pob15a80']

<ipython-input-112-55653247f16a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vac['propvac15a80']=vac['vac15a80']/vac['pob15a80']

In [113]:
vac.head()

,Codigo comuna,Comuna,Poblacion,pob15a64,pob65a80,HDI,vac15a64,vac65a80,pob15a80,vac15a80,propvac15a80
0,13502.0,Alhue,7405.0,5134.0,864.0,0.742609,4731.0,871.0,5998.0,5602.0,0.933978
1,13402.0,Buin,109641.0,78401.0,10432.0,0.766439,65972.0,10454.0,88833.0,76426.0,0.860333
2,13403.0,Calera de Tango,28525.0,20315.0,3032.0,0.715509,17990.0,3536.0,23347.0,21526.0,0.922003
3,13102.0,Cerrillos,88956.0,61411.0,10047.0,0.764616,41131.0,8739.0,71458.0,49870.0,0.697892
4,13103.0,Cerro Navia,142465.0,96515.0,18107.0,0.718874,60775.0,13071.0,114622.0,73846.0,0.644257

In [117]:
vac = vac[["Codigo comuna","HDI","pob15a80","vac15a80","propvac15a80"]]

In [118]:
vac.head()

   Codigo comuna       HDI  pob15a80  vac15a80  propvac15a80
0        13502.0  0.742609    5998.0    5602.0      0.933978
1        13402.0  0.766439   88833.0   76426.0      0.860333
2        13403.0  0.715509   23347.0   21526.0      0.922003
3        13102.0  0.764616   71458.0   49870.0      0.697892
4        13103.0  0.718874  114622.0   73846.0      0.644257

In [119]:
vac.columns=['Codigo comuna','HDI','Poblacion','Vacunados','PropVac']

In [120]:
vac.head()

   Codigo comuna       HDI  Poblacion  Vacunados   PropVac
0        13502.0  0.742609     5998.0     5602.0  0.933978
1        13402.0  0.766439    88833.0    76426.0  0.860333
2        13403.0  0.715509    23347.0    21526.0  0.922003
3        13102.0  0.764616    71458.0    49870.0  0.697892
4        13103.0  0.718874   114622.0    73846.0  0.644257

In [123]:
# hasta aqui es info de la tarea 2 sobre HDI y vacunados, ahora comienza la info de la tarea 3

In [151]:
mue = pd.read_csv('https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto50/DefuncionesDEIS_confirmadosPorComuna.csv', sep=',', na_values=['*'] )

In [152]:
mue.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,2020-03-16,2020-03-17,2020-03-18,2020-03-19,2020-03-20,...,2021-06-28,2021-06-29,2021-06-30,2021-07-01,2021-07-02,2021-07-03,2021-07-04,2021-07-05,2021-07-06,2021-07-07
0,Arica y Parinacota,15,Arica,15101.0,247552.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Arica y Parinacota,15,Putre,15201.0,2515.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
mue = mue[mue["Codigo region"] == 13]

In [158]:
mue.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,2020-03-16,2020-03-17,2020-03-18,2020-03-19,2020-03-20,...,2021-06-28,2021-06-29,2021-06-30,2021-07-01,2021-07-02,2021-07-03,2021-07-04,2021-07-05,2021-07-06,2021-07-07
88,Metropolitana,13,Alhue,13502.0,7405.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89,Metropolitana,13,Buin,13402.0,109641.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,1.0,0.0,1.0,1.0,0.0,0.0
90,Metropolitana,13,Calera de Tango,13403.0,28525.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
91,Metropolitana,13,Cerrillos,13102.0,88956.0,0.0,0.0,0.0,0.0,1.0,...,1.0,4.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0
92,Metropolitana,13,Cerro Navia,13103.0,142465.0,0.0,0.0,0.0,1.0,0.0,...,2.0,1.0,2.0,0.0,1.0,0.0,2.0,2.0,0.0,0.0

In [159]:
## para que comience el 24 de octubre se tiene que restar las primeras 283 columnas de fechas

In [160]:
muef = mue.iloc[:,288:484]
print(muef.columns)

Index(['2020-12-24', '2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28',
       '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-01', '2021-01-02',
       ...
       '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02',
       '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07'],
      dtype='object', length=196)

In [161]:
muef.head()

,2020-12-24,2020-12-25,2020-12-26,2020-12-27,2020-12-28,2020-12-29,2020-12-30,2020-12-31,2021-01-01,2021-01-02,...,2021-06-28,2021-06-29,2021-06-30,2021-07-01,2021-07-02,2021-07-03,2021-07-04,2021-07-05,2021-07-06,2021-07-07
88,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,1.0,0.0,1.0,1.0,0.0,0.0
90,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
91,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,4.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0
92,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,2.0,1.0,2.0,0.0,1.0,0.0,2.0,2.0,0.0,0.0

In [162]:
muef.columns = pd.to_datetime(muef.columns).strftime("%Y/%m/%d")
print(muef.head(5))

    2020/12/24  2020/12/25  2020/12/26  2020/12/27  2020/12/28  2020/12/29  \
88         0.0         0.0         0.0         0.0         0.0         0.0
89         0.0         0.0         0.0         0.0         0.0         0.0
90         0.0         2.0         0.0         0.0         0.0         0.0
91         0.0         0.0         0.0         0.0         1.0         0.0
92         3.0         0.0         0.0         0.0         0.0         0.0

    2020/12/30  2020/12/31  2021/01/01  2021/01/02  ...  2021/06/28  \
88         1.0         0.0         0.0         0.0  ...         0.0
89         0.0         0.0         0.0         0.0  ...         0.0
90         0.0         0.0         0.0         0.0  ...         0.0
91         0.0         0.0         0.0         0.0  ...         1.0
92         0.0         0.0         1.0         1.0  ...         2.0

    2021/06/29  2021/06/30  2021/07/01  2021/07/02  2021/07/03  2021/07/04  \
88         0.0         0.0         0.0         0.0         0.0         0.0
89         0.0         0.0         2.0         1.0         0.0         1.0
90         0.0         0.0         0.0         0.0         0.0         0.0
91         4.0         0.0         1.0         1.0         1.0         0.0
92         1.0         2.0         0.0         1.0         0.0         2.0

    2021/07/05  2021/07/06  2021/07/07
88         0.0         0.0         0.0
89         1.0         0.0         0.0
90         1.0         0.0         0.0
91         1.0         0.0         0.0
92         2.0         0.0         0.0

[5 rows x 196 columns]

In [163]:
muef = muef.groupby(pd.PeriodIndex(muef.columns, freq ='W'), axis=1).sum()

In [164]:
muef.head()

,2020-12-21/2020-12-27,2020-12-28/2021-01-03,2021-01-04/2021-01-10,2021-01-11/2021-01-17,2021-01-18/2021-01-24,2021-01-25/2021-01-31,2021-02-01/2021-02-07,2021-02-08/2021-02-14,2021-02-15/2021-02-21,2021-02-22/2021-02-28,...,2021-05-03/2021-05-09,2021-05-10/2021-05-16,2021-05-17/2021-05-23,2021-05-24/2021-05-30,2021-05-31/2021-06-06,2021-06-07/2021-06-13,2021-06-14/2021-06-20,2021-06-21/2021-06-27,2021-06-28/2021-07-04,2021-07-05/2021-07-11
88,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
89,0.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,3.0,3.0,...,2.0,1.0,4.0,3.0,1.0,4.0,3.0,3.0,4.0,1.0
90,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
91,0.0,2.0,2.0,1.0,0.0,1.0,0.0,6.0,3.0,2.0,...,3.0,5.0,2.0,2.0,0.0,1.0,0.0,4.0,8.0,1.0
92,3.0,2.0,3.0,4.0,5.0,3.0,8.0,6.0,5.0,2.0,...,16.0,10.0,11.0,18.0,8.0,9.0,14.0,21.0,8.0,2.0

In [165]:
mue = mue[["Codigo comuna", "Comuna", "Poblacion"]]

In [166]:
mue.head()

    Codigo comuna           Comuna  Poblacion
88        13502.0            Alhue     7405.0
89        13402.0             Buin   109641.0
90        13403.0  Calera de Tango    28525.0
91        13102.0        Cerrillos    88956.0
92        13103.0      Cerro Navia   142465.0

In [168]:
mue=pd.concat([mue,muef], axis=1)

In [169]:
mue.head()

,Codigo comuna,Comuna,Poblacion,2020-12-21/2020-12-27,2020-12-28/2021-01-03,2021-01-04/2021-01-10,2021-01-11/2021-01-17,2021-01-18/2021-01-24,2021-01-25/2021-01-31,2021-02-01/2021-02-07,...,2021-05-03/2021-05-09,2021-05-10/2021-05-16,2021-05-17/2021-05-23,2021-05-24/2021-05-30,2021-05-31/2021-06-06,2021-06-07/2021-06-13,2021-06-14/2021-06-20,2021-06-21/2021-06-27,2021-06-28/2021-07-04,2021-07-05/2021-07-11
88,13502.0,Alhue,7405.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
89,13402.0,Buin,109641.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,...,2.0,1.0,4.0,3.0,1.0,4.0,3.0,3.0,4.0,1.0
90,13403.0,Calera de Tango,28525.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
91,13102.0,Cerrillos,88956.0,0.0,2.0,2.0,1.0,0.0,1.0,0.0,...,3.0,5.0,2.0,2.0,0.0,1.0,0.0,4.0,8.0,1.0
92,13103.0,Cerro Navia,142465.0,3.0,2.0,3.0,4.0,5.0,3.0,8.0,...,16.0,10.0,11.0,18.0,8.0,9.0,14.0,21.0,8.0,2.0

In [170]:
mue = mue.drop(['Comuna', 'Poblacion'], axis=1)

In [171]:
mue.head()

,Codigo comuna,2020-12-21/2020-12-27,2020-12-28/2021-01-03,2021-01-04/2021-01-10,2021-01-11/2021-01-17,2021-01-18/2021-01-24,2021-01-25/2021-01-31,2021-02-01/2021-02-07,2021-02-08/2021-02-14,2021-02-15/2021-02-21,...,2021-05-03/2021-05-09,2021-05-10/2021-05-16,2021-05-17/2021-05-23,2021-05-24/2021-05-30,2021-05-31/2021-06-06,2021-06-07/2021-06-13,2021-06-14/2021-06-20,2021-06-21/2021-06-27,2021-06-28/2021-07-04,2021-07-05/2021-07-11
88,13502.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
89,13402.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,3.0,...,2.0,1.0,4.0,3.0,1.0,4.0,3.0,3.0,4.0,1.0
90,13403.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
91,13102.0,0.0,2.0,2.0,1.0,0.0,1.0,0.0,6.0,3.0,...,3.0,5.0,2.0,2.0,0.0,1.0,0.0,4.0,8.0,1.0
92,13103.0,3.0,2.0,3.0,4.0,5.0,3.0,8.0,6.0,5.0,...,16.0,10.0,11.0,18.0,8.0,9.0,14.0,21.0,8.0,2.0

In [172]:
data = pd.merge(vac, mue ,how='right', on='Codigo comuna')

In [173]:
data.head()

,Codigo comuna,HDI,Poblacion,Vacunados,PropVac,2020-12-21/2020-12-27,2020-12-28/2021-01-03,2021-01-04/2021-01-10,2021-01-11/2021-01-17,2021-01-18/2021-01-24,...,2021-05-03/2021-05-09,2021-05-10/2021-05-16,2021-05-17/2021-05-23,2021-05-24/2021-05-30,2021-05-31/2021-06-06,2021-06-07/2021-06-13,2021-06-14/2021-06-20,2021-06-21/2021-06-27,2021-06-28/2021-07-04,2021-07-05/2021-07-11
0,13502.0,0.742609,5998.0,5602.0,0.933978,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,13402.0,0.766439,88833.0,76426.0,0.860333,0.0,0.0,0.0,1.0,2.0,...,2.0,1.0,4.0,3.0,1.0,4.0,3.0,3.0,4.0,1.0
2,13403.0,0.715509,23347.0,21526.0,0.922003,2.0,0.0,0.0,0.0,0.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
3,13102.0,0.764616,71458.0,49870.0,0.697892,0.0,2.0,2.0,1.0,0.0,...,3.0,5.0,2.0,2.0,0.0,1.0,0.0,4.0,8.0,1.0
4,13103.0,0.718874,114622.0,73846.0,0.644257,3.0,2.0,3.0,4.0,5.0,...,16.0,10.0,11.0,18.0,8.0,9.0,14.0,21.0,8.0,2.0